.safe {
  margin-left: 3.5em;
}

form {
  margin-top: 9em;
  border-radius: 5px;
}

.dropdown-button {
  border: 2px solid #fbc02d;
}

.s-btn {
  margin-top: 1em;
}

.nav-img {
  width: 50px;
  margin: .5em;
  margin-left: 14em;
}

.zombie-arm {
  width: 150px;
}
